/* .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item  .buttonAlone{
    margin-top: 1px !important;
    line-height: 2px !important;
}


@media (min-width: 992px){
    .btn-outline-success{
        background-color: #00AEB5 !important;
    }
}

.backGroundColor {
    background-color: #FFFFFF
} */